<h1>Account Invoice Test Form</h1>
<form action="/api/account_invoice/create" method="POST">
  <input type="text" name="partner_id" placeholder="partner_id"/>
  <input type="text" name="account_id" placeholder="account_id" value="17" />
  <input type="text" name="name" placeholder="name" value="pen"/>
  <input type="text" name="price_unit" placeholder="price_unit" value="9"/>
  <input type="text" name="product_id" placeholder="product_id" value="1"/>
  <input type="text" name="quantity" placeholder="quantity" value="1"/>
  <input type="text" name="uom_id" placeholder="uom_id" value="1"/>
  <button type="submit">Create</button>
</form>

<form action="/api/account_invoice/add" method="POST">
  <input type="text" name="id" placeholder="id"/>
  <input type="text" name="account_id" placeholder="account_id" value="17" />
  <input type="text" name="name" placeholder="name" value="pen"/>
  <input type="text" name="price_unit" placeholder="price_unit" value="9"/>
  <input type="text" name="product_id" placeholder="product_id" value="1"/>
  <input type="text" name="quantity" placeholder="quantity" value="1"/>
  <input type="text" name="uom_id" placeholder="uom_id" value="1"/>
  <button type="submit">Add</button>
</form>

<form action="/api/account_invoice/open" method="POST">
  <input type="text" name="id" />
  <button type="submit">Open</button>
</form>

<form action="/api/account_invoice/paid" method="POST">
  <input type="text" name="id" />
  <button type="submit">Paid</button>
</form>

<form action="/api/account_invoice/cancel" method="POST">
  <input type="text" name="id" />
  <button type="submit">Cancel</button>
</form>

<form action="/api/account_invoice/reset" method="POST">
  <input type="text" name="id" />
  <button type="submit">Reset</button>
</form>
