<form action="http://localhost:3001/test_post_form" method="GET">
  <input type="text" name="text" />
  <!-- <%= hidden_field_tag :authenticity_token, form_authenticity_token %> -->
  <button type="sumbmit">Submit</button>
</form>
